.originalphoto {
    width: 100%;
}

.accessibility {
    flex-direction: column; 
    justify-content: center; 
    width: 45%
}

.lofidiv, .hifidiv {
    display: flex;
    width: 80%;
    padding-bottom: 40px;
    row-gap: 15px;
    column-gap: 15px;
}

.lofiCap, .hifiCap {
    width: 80%;
    text-align: center;
}

.finaldiv {
    display: grid;
    width: 80%;
    padding-bottom: 40px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.lofi, .hifi {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.lofiimg, .hifiimg {
    width: 100%;
    height: auto;
}

.lofiannotation {
    width: 30%;
}

.tabletlofi, .tablethifi {
    width: 70%;
}

.phonelofi, .phonehifi {
    width: 50%;
}

.styleguide {
    width: 80%;
}

.styleGuideCap {
    width: 50%;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .accessibility {
        width: 80%;
    }
    .styleGuideCap {
        width: 80%;
    }
    .lofidiv, .hifidiv {
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    .lofi, .hifi {
        width: 100%;
    }
    .lofiCap, .hifiCap {
        width: 80%;
    }
    .accessList {
        padding-left: 20px;
    }
    .styleguide {
        max-height: 100px;
    }
}
